body{
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #9CB4BD ;
}

.quem-somos {
  background-color: #738186;
  color: white;
}

.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}

h3 {
  padding: 5px;
}

.parceiros {
  background-color: #535D61;
  color: white;
}

.servicos {
  color: white;
  background-color: #3E4446;
}

.bg-footer {
  background-color: black;
  padding-bottom: 10px;
  padding-top: 5px;
  color: white;
}

#whatsapp,
#facebook,
#github,
#linkedin {
    width: 35px;
    height: 35px;
    padding: 3px;
    color: white;
    margin-top: 5px;
    border-radius: 20%;
}

#whatsapp:hover {
    background-color: green;
}

#facebook:hover {
    background-color: #3B5998;
}

#linkedin:hover {
    background-color: darkblue;
}

#github:hover {
    background-color: white;
    color: black;
}
